<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <!--            Dashboard-->
            <li>
                <a href="/agent-dashboard" aria-expanded="false">
                    <i class="flaticon-025-dashboard"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="fa fa-plane"></i>
                    <span class="nav-text">Flights</span><span class="badge badge-primary badge-xs ms-1">NEW</span>
                </a>
                <ul>
                    <li><a href="#">Book Flights</a></li>
                    <li><a href="#">View Hold Bookings</a></li>
                    <li><a href="#">View Released Bookings</a></li>
                    <li><a href="#">View Ticketed Bookings</a></li>
                    <li><a href="#">View Failed Bookings</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-018-clock"></i>
                    <span class="nav-text">Fixed Departures</span>
                </a>
                <ul>
                    <li><a href="#">Book Flight</a></li>
                    <li><a href="#">Ticketed Bookings</a></li>
                    <li><a href="#">Search Bookings</a></li>
                </ul>
            </li>
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="fa-solid fa-hotel"></i>
                    <span class="nav-text">Hotels</span>
                </a>
                <ul>
                    <li class="has-arrow ai-icon"><a href="#">Book Hotel</a></li>
                    <li class="has-arrow ai-icon"><a href="#">View Success Bookings</a></li>
                </ul>
            </li>

        </ul>

    </div>
</div>

