<style>
    .headings-with-border, .headings-with-border2 {
        position: relative; /* Relative positioning for both headers */
        color: #ffffff; /* Default text color */
    }
    .headings-with-border:after {
        background: #e9f4f5;
        border-radius: 10px;
        bottom: -5px; /* Adjusted the bottom position for visibility */
        content: "";
        height: 3px;
        left: 0;
        position: absolute;
        width: 50px;
    }
    .headings-with-border2:after {
        background: #e9f4f5;
        border-radius: 10px;
        bottom: -5px; /* Adjusted the bottom position for visibility */
        content: "";
        height: 3px;
        left: 0;
        position: absolute;
        width: 100px;
    }
</style>
<footer class="footer-area mt-4">
    <div class="container">
        <div class="footer-top pt-70 pb-5">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="footer-widget text-center text-md-start">
                        <div class="navbar-brand">
                            <a href="index.html">
                                <img src="assets/img/TDO_FooterLogo.jpeg" alt="Logo" style="width: 250px" />
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-6 col-sm-12 col-12 mt-4 mt-md-0">
                    <div class="contact-info text-center text-md-start">
                        <div class="content">
                            <b><span class="text-light headings-with-border" style="font-size: 20px">Contact</span></b>
                        </div>
                        <div class="content">
                            <i class="bx bx-phone text-light"></i>
                            <a class="customized-link" href="tel:+971505391369"><span class="text-light">+971 50 539 1369</span></a>
                        </div>
                        <div class="content">
                            <i class="bx bx-envelope text-light"></i>
                            <a href="mailto:support@traveldealsonline.ae" class="customized-link"><span class="text-light">support@traveldealsonline.ae</span></a>
                        </div>
                        <div class="content">
                            <i class="bx bx-map text-light"></i>
                            <span class="text-light">Grosvenor Business Tower, Office No. 2009, Plot No. 48, <br>
                                Al Thanayah 1, Barsha Heights, Dubai, UAE
                            </span>
                        </div>
                        <div class="content">
                            <i class="bx bx-alarm text-light"></i>
                            <span class="text-light">Mon-Sun: 8 AM – 7 PM</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 col-12 mt-4 mt-lg-0">
                    <div class="contact-info text-center text-md-start">
                        <div class="content">
                            <b><span class="text-light headings-with-border2" style="font-size: 20px">More From TDO</span></b>
                        </div>
                        <div class="content">
                            <a class="customized-link" href="/privacy-policy" style="color: #ffffff;"><span class="text-light">Privacy Policy</span></a>
                        </div>
                        <div class="content">
                            <a href="/statutory-disclaimer" class="customized-link"><span class="text-light">Statutory Disclaimer</span></a>
                        </div>
                        <div class="content">
                            <a href="/terms-condition" class="customized-link"><span class="text-light">Terms & Conditions</span></a>
                        </div>
                        <div class="content">
                            <a href="/refund-policy" class="customized-link"><span class="text-light">Refund Policy</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="copy-right-area">
            <div class="container">
                <div class="copy-right-content text-center ms-3">
                    <p class="text-center">Copyright &copy; 2024 Travel Deals Online. All rights reserved. Made By
                        <a target="_blank" class="text-light customized-link" href="https://veenusmindmedia.com">Veenus Mind Media</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/jquery.nice-select.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/jquery.filterizr.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/meanmenu.min.js"></script>
<script src="/assets/js/form-validator.min.js"></script>
<script src="/assets/js/contact-form-script.js"></script>
<script src="/assets/js/jquery.ajaxchimp.min.js"></script>
<script src="/assets/js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js"
        integrity="sha512-KFHXdr2oObHKI9w4Hv1XPKc898mE4kgYx58oqsc/JqqdLMDI4YjOLzom+EMlW8HFUd0QfjfAvxSL6sEq/a42fQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    window.addEventListener('load', function () {
        setTimeout(function() {
            const preloader = document.getElementById('preloader');
            preloader.classList.add('hide-preloader');
        }, 1300);
    });

</script>
