<footer class="footer-area">
    <div class="container-fluid">
        <div class="footer-top">
            <div class="row align-items-center ">
                <div class="col-xl-12 col-lg-6 py-2 d-sm-none d-lg-block">
                    <div class="contact-info">
                        <div class="content d-flex align-items-center flex-wrap">
                            <i class="bx bx-map text-light" style="font-size: 20px"></i>
                            <span class="text-light" style="font-size: 12px">Grosvenor Business Tower, Office No. 2009, Plot No. 48,
                                        Al Thanayah 1, Barsha Heights, Dubai, UAE
                                    </span>
                            <i class="bx bx-alarm text-light ms-4" style="font-size: 18px"></i>
                            <span class="text-light" style="font-size: 12px">Mon-Sun: 8 AM – 7 PM</span>


                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-dot text-light ms-4" viewBox="0 0 16 16">
                                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                            </svg>
                            <a class="customized-link ms-0" href="/aboutUs"
                               style="color: #ffffff; text-decoration: underline;font-size: 12px">
                                <span class="text-light"> About Us</span>
                            </a>
                            <!--  contact-us-->
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-dot text-light ms-2" viewBox="0 0 16 16">
                                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                            </svg>
                            <a class="customized-link ms-0" href="/contactUs"
                               style="color: #ffffff;text-decoration: underline;font-size: 12px">
                                <span class="text-light">Contact Us</span>
                            </a>


                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-dot text-light ms-2" viewBox="0 0 16 16">
                                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                            </svg>
                            <a class="customized-link ms-0" href="/privacy-policy"
                               style="color: #ffffff;text-decoration: underline;font-size: 12px"><span class="text-light">Privacy Policy</span></a>

                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-dot text-light ms-2" viewBox="0 0 16 16">
                                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                            </svg>
                            <a href="/statutory-disclaimer" class="customized-link"
                               style="color: #ffffff;text-decoration: underline;font-size: 12px"><span class="text-light">Statutory Disclaimer</span></a>

                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-dot text-light ms-2" viewBox="0 0 16 16">
                                <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                            </svg>
                            <a href="/terms-condition" class="customized-link">
                                                <span class="text-light"
                                                      style="color: #ffffff;text-decoration: underline;font-size: 12px">
                                                    Terms & Conditions</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right-content text-center text-light">
        <p class="text-center text-light f-13">Copyright &copy; 2024 Travel Deals Online. All rights
            reserved. Made By
            <a target="_blank" class="text-light customized-link" style="text-decoration: underline"
               href="https://veenusmindmedia.com">Veenus
                Mind Media</a>
        </p>
    </div>
    <!--        </div>-->
    <!--    </div>-->
    <!--    </div>-->
</footer>


<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/jquery.nice-select.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/jquery.filterizr.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/meanmenu.min.js"></script>
<script src="/assets/js/form-validator.min.js"></script>
<script src="/assets/js/contact-form-script.js"></script>
<script src="/assets/js/jquery.ajaxchimp.min.js"></script>
<script src="/assets/js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js"
        integrity="sha512-KFHXdr2oObHKI9w4Hv1XPKc898mE4kgYx58oqsc/JqqdLMDI4YjOLzom+EMlW8HFUd0QfjfAvxSL6sEq/a42fQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<style>
    .footer-area{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        /*background-color: #f1f1f1; !* Adjust background color as needed *!*/
        text-align: center; /* Center the text */
        padding: 0px; /* Add padding for spacing */
        color: #c02323; /* Adjust text color if needed */
        z-index: 1000;
    }

</style>