<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

<header class="header-area">
    <div class="top-header-area">
        <div class="container ms-4">
            <div class="row align-items-center" style="font-size: 14px">
                <div class="col-xl-4 col-lg-6">
                    <div class="side-option">
                        <div class="item text-start text-light m-0">
                            Welcome to TDO DXB, Unit of Golden Gateways Travels LLC
                        </div>

                    </div>
                </div>

                <div class="col-xl-8 col-lg-6 py-3 d-sm-none d-lg-block ">
                    <div class="contact-info">
                        <div class="content">
                            <i class="bx bx-phone"></i>
                            <a class="customized-link" href="tel:+971505391369"><span class="text-light">+971 50 539 1369</span></a>

                            <i class="bx bx-envelope ms-4"></i>
                            <a href="mailto:support@traveldealsonline.ae" class="customized-link"><span class="text-light">support@traveldealsonline.ae</span></a>
                            <i class="bx bx-info-circle ms-4"></i>
                            <span class="text-light">مرحبًا بكم في TDO DXB، وحدة شركة Golden Gateways Travels LLC</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>