<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TDO DXB | Welcome to Agent Dashboard</title>
    <%- include('../partials/header2')%>
</head>
<body>
<div id="preloader">
    <div class="loader">
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--text"></div>
    </div>
</div>
<div id="main-wrapper">
    <%- include('../partials/navbar2')%>
    <%- include('../partials/sidebar2')%>
    <div class=" content-body default-height">
        <div class="container-fluid">
            <div class="row page-titles">
                <ol class="breadcrumb">
                    <!--                    <li class="breadcrumb-item"><a href="javascript:void(0)">Agent</a></li>-->
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Change Password</a></li>
                </ol>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Change Password</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">
                                <form class="form-valide-with-icon needs-validation" novalidate id="changePassword">
                                    <div class="mb-3">
                                        <label class="text-label form-label" for="validationCustomUsername">Old Password</label>
                                        <div class="input-group">
                                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                            <input type="password" class="form-control border-left-end" id="old_password" name="old_password" placeholder=" Enter Old Password" required >
                                            <div class="invalid-feedback">
                                                Please Old Password.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="text-label form-label" for="dz-password">New Password </label>
                                        <div class="input-group transparent-append">
                                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                            <input type="password" class="form-control border-left-end" id="new_password" name="new_password" placeholder="Enter New Password" required oninput="validatePassword()">
                                            <div class="invalid-feedback" id="passwordError">
                                                Please Enter New Password.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="text-label form-label" for="dz-password">Conform Password </label>
                                        <div class="input-group transparent-append">
                                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                            <input type="password" class="form-control border-left-end" id="conform_password" data-rule-equalto="#new_password" name="conform_password" placeholder="Enter Conform Password" required oninput="validatePassword()">
                                            <div class="invalid-feedback" id="confirmPasswordError">
                                                Please Enter Conform Password.
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn me-2 btn-primary" onclick="change_password()">Submit</button><!--                                    <button type="button" class="btn light btn-danger" onclick="change_password()">Submit</button>-->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer2')%>
</div>

</body>
<script>
    function validatePassword() {
        const new_password = document.getElementById('new_password').value;
        const passwordErrorMessages = [];

        // Real-time check for each condition except length
        if (!/[@$!%*?&#]/.test(new_password)) {
            passwordErrorMessages.push('one special character,');
        }
        if (!/[a-z]/.test(new_password)) {
            passwordErrorMessages.push('one lowercase letter,');
        }
        if (!/[A-Z]/.test(new_password)) {
            passwordErrorMessages.push('one uppercase letter,');
        }
        if (!/\d/.test(new_password)) {
            passwordErrorMessages.push('one numeric digit');
        }
        if (passwordErrorMessages.length > 0) {
            passwordErrorMessages.unshift('Password must include at least'); // Add message to the start of the array
        }

        // Display error messages for the new password
        const passwordErrorElement = document.getElementById('passwordError');
        if (passwordErrorMessages.length > 0) {
            document.getElementById('new_password').classList.add('is-invalid');
            passwordErrorElement.innerText = passwordErrorMessages.join(' ');
        } else {
            document.getElementById('new_password').classList.remove('is-invalid');
            passwordErrorElement.innerText = '';
        }
    }

    async function change_password() {
        try {
            // Trigger form validation
            if ($("#changePassword").valid()) {

                const old_password = document.getElementById("old_password").value;
                const new_password = document.getElementById('new_password').value;
                const confirmPassword = document.getElementById('conform_password').value;
                const passwordErrorMessages = [];

                // Length validation on form submission
                if (new_password.length < 8) {
                    passwordErrorMessages.push('Password must be at least 8 characters long.');
                }

                // Display length validation error
                const passwordErrorElement = document.getElementById('passwordError');
                if (passwordErrorMessages.length > 0) {
                    document.getElementById('new_password').classList.add('is-invalid');
                    passwordErrorElement.innerText = passwordErrorMessages.join(' ');
                    return; // Stop the process if validation fails
                } else {
                    document.getElementById('new_password').classList.remove('is-invalid');
                    passwordErrorElement.innerText = '';
                }

                // Prepare form data for submission
                let formData = new FormData();
                formData.append("oldPassword", old_password);
                formData.append("newPassword", new_password);

                // Submit the form via Fetch API
                let url = "/change-password";
                let response = await fetch(url, {
                    method: "POST",
                    body: formData
                });
                let result = await response.json();

                // Handle server response
                if (result.error) {
                    Swal.fire({
                        title: "OOPS!",
                        text: result.message,
                        icon: "error"
                    });
                } else if (result.warning) {
                    Swal.fire({
                        title: "OOPS!",
                        text: result.message,
                        icon: "warning"
                    });
                } else {
                    Swal.fire({
                        title: "Success",
                        text: result.message,
                        icon: "success"
                    });
                    document.getElementById("changePassword").reset();
                    setTimeout(() => {
                        window.location.href = '/logout';
                    }, 3000);
                }
            }
        } catch (e) {
            Swal.fire({
                title: "OOPS!",
                text: e.message,
                icon: "question"
            });
        }
    }

</script>
</html>