<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Author: HiBootstrap, Category: Tourism, Multipurpose, HTML, SASS, Bootstrap" />

    <title>TDO DXB | Welcome to TDO DXB</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/assets/css/fontawesome.min.css" />

    <link rel="stylesheet" href="/assets/css/boxicons.min.css">

    <link rel="stylesheet" href="/assets/css/animate.min.css" />

    <link rel="stylesheet" href="/assets/css/bootstrap-datepicker.min.css">

    <link rel="stylesheet" href="/assets/css/nice-select.css">

    <link rel="stylesheet" href="/assets/css/magnific-popup.min.css" />

    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" />

    <link rel="stylesheet" href="/assets/css/meanmenu.min.css" />

    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/style1.css"/>
    <link rel="stylesheet" href="/assets/css/responsive.css" />

    <link rel="stylesheet" href="/assets/css/theme-dark.css" />

    <link rel="icon" href="/assets/img/img_1.png" type="image/png"/>
</head>
<body>
<div id="preloader">
    <div class="loader">
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--dot"></div>
        <div class="loader--text"></div>
    </div>
</div>
<%- include('../partials/header.ejs') %>



<div class="page-title-area ptb-100">
    <div class="container">
        <div class="page-title-content">
            <h1>Contact Us</h1>
            <ul>
                <li class="item"><a href="/">Home</a></li>
                <li class="item"><a href="/contactUs"><i class="bx bx-chevrons-right"></i>Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="bg-image">
        <img src="/assets/img/page-title-area/contact.jpg" alt="Demo Image">
    </div>
</div>


<div class="contact-section mt-3 mb-3">

    <div class="contact-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="content  pt-100 pb-70 ">
                        <div class="info-content bg-light p-5 shadow">
                            <div class="content-list">
                            <i class="bx bx-map" style="font-size: 25px"></i>
                            <h3 class="sub-title mt-3"><b>Address</b></h3>
                            </div>
                            <div class="content-list">
                                <h6 style="text-align: justify;font-size: 18px;  color: #39325a">Grosvenor Business Tower, Office No. 2009, Plot No. 48, Al Thanayah 1, Barsha Heights, Dubai, UAE</h6>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="content  pt-100 pb-70 ">
                        <div class="info-content bg-light p-5 shadow">
                            <div class="content-list">
                                <i class="bx bx-phone" style="font-size: 25px"></i>
                                <h3 class="sub-title mt-3"><b>Give Us A Ring</b></h3>
                            </div>
                            <div class="content-list">
                            <h6 style="text-align: justify;font-size: 18px;  color: #39325a">Our Experts are standing by monday to friday from 9am to 6pm IST.<br>
                            +971 50 539 1369</h6>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="content  pt-100 pb-70 ">
                        <div class="info-content bg-light p-5 shadow">
                            <div class="content-list">
                                <i class="bx bx-envelope" style="font-size: 25px"></i>
                                <h3 class="sub-title mt-2"><b>SIMPLE DROP US AN EMAIL AT</b></h3>
                            </div>
                            <div class="content-list">
                                <h6 style="text-align: justify;font-size: 18px;  color: #39325a">support@traveldealsonline.ae<br>
                                    you'll receive a reply within 24 hours</h6>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../partials/footer.ejs') %>
</body>
</html>